.range-input__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-top: 10px;
}

.range-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  height: 12px;
  background: linear-gradient(to right, #3498db, #b41abc);
  border-radius: 10px;
  outline: none;
  transition: background-color 0.3s;
  margin-top: 10px;
  margin-left: 0;
}

.range-input::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  background: #ecf0f1;
  border: 2px solid #0fd2ce;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.range-input::-webkit-slider-thumb:hover {
  background: #0fd2ce;
  border: 2px solid #ecf0f1;
  transform: scale(1.2);
}

.range-input::-moz-range-thumb {
  width: 24px;
  height: 24px;
  background: #ecf0f1;
  border: 2px solid #0fd2ce;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.range-input::-moz-range-thumb:hover {
  background: #0fd2ce;
  border: 2px solid #ecf0f1;
  transform: scale(1.2);
}

.range-input__label {
  font-size: 1rem;
  font-weight: bold;
  color: #ecf0f1;
}
